<!DOCTYPE HTML>
<html>
  <head>
    <%- include ./partials/_header %>
  </head>
  <body>
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <main>
      <div class="main container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="display-4 m-b-2">Contact Us</h1>
            <p>But it was the pain of soccer chocolate. For developers, but macro layer deductible, graduated region manufacturing dolor layer arrows high school football players start. Libero sapien, as the largest. For undertakes worth sauce layer but worth it sapien developers.</p><a class="btn btn-primary" href="#">Get in touch</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%- include ./partials/_footer %>
    </footer>
  </body>
</html>
