<div class="main container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4 m-b-2">Contact Us</h1>
      <p>Sed dictum dolor vitae dignissim scelerisque. Ut tincidunt, tortor at accumsan eleifend, tellus lectus vestibulum nibh, accumsan sagittis turpis nisl eu mauris. Mauris ut laoreet sapien. Nam suscipit, dui at condimentum accumsan, dui sapien tincidunt.</p><a class="btn btn-primary" href="#">Get in touch</a>
    </div>
  </div>
</div>

<!DOCTYPE HTML>
<html>
  <head>
    <%- include ./partials/_header %>
  </head>
  <body>
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <main>
      <div class="main container">
        <div class="row text-xs-center">
          <div class="col-md-6 col-md-offset-3 p-t-2"><i class="icn-person material-icons">error</i>
            <p class="lead m-t-2"></p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%- include ./partials/_footer %>
    </footer>
  </body>
</html>
