<!DOCTYPE HTML>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <main>
      <div class="jumbotron">
        <form action="/" method="post">
          <label>Enter your name:</label>
          <input type="text" name="name">
        </form>
      </div>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
