<!DOCTYPE HTML>
<html>
  <head>
    <%- include ./partials/_header %>
  </head>
  <body>
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <main>
      <div class="main container text-xs-center">
        <h1 class="display-3">Read &amp; Share Books</h1>
        <p class="lead">Choose from our large collection of paid and free books!</p>
        <a class="btn btn-info-outline btn-lg" href="/register">Get Started for FREE</a>
      </div>
    </main>
    <footer>
      <%- include ./partials/_footer %>
    </footer>
  </body>
</html>
